<!-- BEGIN: Subheader -->
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title ">
				My Account (2)
			</h3>
		</div>
		<div>
			<a href="#" ng-click="addXeroAccountForm()" class="btn btn-accent btn-sm m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" style="margin-right: 10px;">
				<span>
					<i class="la la-plus"></i>
					<span>
						Xero Account
					</span>
				</span>
			</a>			
		</div>
	</div>
</div>

<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-4">
			<div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
				<div class="m-portlet__head m-portlet__head--fit-">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text m--font-light">
								XERO ACCOUNT
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover">
								<a href="#" class="m-portlet__nav-link btn btn--sm m-btn--pill m-btn btn-outline-light m-btn--hover-light">
									ACTIVE
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-widget27 m-portlet-fit--sides">
						<div class="m-widget27__pic">
							<img ng-src="/assets/app/media/img/bg/bg-4.jpg" alt="" style="height: 86px;">
							
							<div class="m-widget27__btn">
								<button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--bolder">
									RU15SAMPLE
								</button>
							</div>
						</div>
						<div class="m-widget27__container">
							<!-- begin::Nav pills -->
							<ul class="m-widget27__nav-items nav nav-pills nav-fill" role="tablist">
								<li class="m-widget27__nav-item nav-item">
									<a class="nav-link" href="#">
										<span class="flaticon-edit-1"></span>
										<!-- Edit -->
									</a>
								</li>
								<li class="m-widget27__nav-item nav-item">
									<a class="nav-link" href="#">
										<span class="flaticon-refresh"></span>
										<!-- Re-Authenticate -->
									</a>
								</li>
								<li class="m-widget27__nav-item nav-item">
									<a class="nav-link" href="#">
										<span class="flaticon-delete-1"></span>
										<!-- Remove -->
									</a>
								</li>
								<li class="m-widget27__nav-item nav-item">
									<a class="nav-link" href="#">
										<span class="flaticon-visible"></span>
										<!-- View -->
									</a>
								</li>
							</ul>
							<!-- end::Nav pills -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
