<template>
    <carousel ref="carousel" 
        :perPage="1" 
        :autoplay="true" 
        :loop="true" 
        :autoplayTimeout="5000" 

        >
        <slide>
            <div class=" banner-item banner-board-band">
                <div class="caption">
                    <h3>Boardband Recharge</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
            <div class=" banner-item banner-bus-ticket">
                <div class="caption">
                    <h3>Bus Ticket</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
            <div class=" banner-item banner-dth">
                <div class="caption">
                    <h3>TV Recharge</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
            <div class=" banner-item banner-data-card">
                <div class="caption">
                    <h3>Data Card Recharge</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
            <div class=" banner-item banner-elictric">
                <div class="caption">
                    <h3>Electricity</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
             <div class=" banner-item banner-gas">
                <div class="caption">
                    <h3>Gas Recharge</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
            <div class=" banner-item banner-landline">
                <div class="caption">
                    <h3>Landline</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>
        <slide>
            <div class=" banner-item banner-mobile">
                <div class="caption">
                    <h3>Mobile Recharge</h3>
                    <p class="b-text-desc">For all his transactions, a cash back of 1.5% will be credited
                        to his wallet</p>
                    <p><a href="#mobilew3layouts" class="btn btn-default org-btn">Start with us</a></p>
                </div>
            </div>
        </slide>

    </carousel>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
    components: {
        Carousel, 
        Slide
    },

    data() {
        return {
            perPageCustom: [[768, 1], [1024, 1]]
        }
    },

};
</script>

<style>

</style>
