@charset "utf-8";
/* CSS Document */

body	{font-family:montserrat;
		font-size:15px;}

/*Preloader*/
/*.bubblingG {
		text-align: center;
		width: 90px;
		height: 56px;
}*/
.bg{
		background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}
.bubblingG  {
    
	position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align:center;
}
.bubblingG img{
		margin-bottom:40px;
}
.bubblingG span {
		display: inline-block;
		vertical-align: middle;
		width: 11px;
		height: 11px;
		margin: 28px auto;
		background: #f39200;
		-moz-border-radius: 57px;
		-moz-animation: bubblingG 1.3s infinite alternate;
		-webkit-border-radius: 57px;
		-webkit-animation: bubblingG 1.3s infinite alternate;
		-ms-border-radius: 57px;
		-ms-animation: bubblingG 1.3s infinite alternate;
		-o-border-radius: 57px;
		-o-animation: bubblingG 1.3s infinite alternate;
		border-radius: 57px;
		animation: bubblingG 1.3s infinite alternate;;
}

#bubblingG_1 {
		-moz-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-o-animation-delay: 0s;
		animation-delay: 0s;
}

#bubblingG_2 {
		-moz-animation-delay: 0.39s;
		-webkit-animation-delay: 0.39s;
		-ms-animation-delay: 0.39s;
		-o-animation-delay: 0.39s;
		animation-delay: 0.39s;
}

#bubblingG_3 {
		-moz-animation-delay: 0.78s;
		-webkit-animation-delay: 0.78s;
		-ms-animation-delay: 0.78s;
		-o-animation-delay: 0.78s;
		animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
		0% {
				width: 11px;
				height: 11px;
				background-color: #f39200;
				-moz-transform: translateY(0);
		}
		100% {
				width: 27px;
				height: 27px;
				background-color: #FFFFFF;
				-moz-transform: translateY(-24px);
		}
}

@-webkit-keyframes bubblingG {
		0% {
				width: 11px;
				height: 11px;
				background-color: #f39200;
				-webkit-transform: translateY(0);
		}
		100% {
				width: 27px;
				height: 27px;
				background-color: #FFFFFF;
				-webkit-transform: translateY(-24px);
		}
}

@-ms-keyframes bubblingG {
		0% {
				width: 11px;
				height: 11px;
				background-color: #f39200;
				-ms-transform: translateY(0);
		}
		100% {
				width: 27px;
				height: 27px;
				background-color: #FFFFFF;
				-ms-transform: translateY(-24px);
		}
}

@-o-keyframes bubblingG {
		0% {
				width: 11px;
				height: 11px;
				background-color: #f39200;
				-o-transform: translateY(0);
		}
		100% {
				width: 27px;
				height: 27px;
				background-color: #FFFFFF;
				-o-transform: translateY(-24px);
		}
}

@keyframes bubblingG {
		0% {
				width: 11px;
				height: 11px;
				background-color: #f39200;
				transform: translateY(0);
		}
		100% {
				width: 27px;
				height: 27px;
				background-color: #FFFFFF;
				transform: translateY(-24px);
		}
}
/*slide*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 55;
    top: 0;
    right: 0;
    background-color:#fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav img {
		display:inline-block;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	color:#c7c7c7!important;
}
.sidenav h5 {
	font-size:20px;
	color:#006aaf;
	font-weight:600;
	text-align:left;
	margin-top:30px;
	padding-left:20px;
}
.sidenav .information	{width:150px;
		z-index:111;}

ul.nav .cs-select	{width:150px !important;
}

.sidenav .information span	{font-weight:300;
							font-size:14px;}
							
.sidenav .information	{padding-left:10px;
						padding-right:0;}
						
.sidenav .information div.cs-select {padding-left:15px;
				text-transform:capitalize;
				z-index:0 !important;
}
.sidenav .plan 	{text-align:left;
		padding-left:20px;
		color:#444;
		font-size:13px;
		margin-top:5%;
		font-weight:700;
		position:relative;}
		
.sidenav .plan h4 {padding-left:10px;
				display:inline-block;
				font-size:13px;
				color:#444;
				font-weight:700;
				text-transform:uppercase;}
				
.sidenav .plan-border	{border-bottom:1px solid #ebebeb ;
		margin-top:10px;}
			
.sidenav .plan1 span {padding-left:11px;
				display:inline-block;
				font-size:13px;
				color:#444;
				text-align:left;
				margin-top:30px;
				font-weight:300;}
				
.sidenav .plan1 span i	{font-weight:300;
		padding-right:5px;}
				
.sidenav .plan1 p	{font-size:13px;
					color:#444;
					font-weight:300;
					margin-top:12px;
					padding-left:10px;
					display:inline-block;}
					
.plan .plan-button	{
		margin-top:25px;
		border:1px solid #006bb1;
		border-radius:10px;
		background-color:transparent;
		color:#006aaf;
		font-size:13px;
		font-weight:700;
		position:absolute;
		right:55px;
		transition:all 0.4s ease-in-out;}
		
.plan .plan-button:hover{background-color:#006bb1;
		color:#fff;}
		
		
.sidenav .plan1 span:nth-child(2){padding-left:91px;}

.sidenav .plan1 span:nth-child(3){padding-left:70px;}


.sidenav .plan h4:nth-child(2){padding-left:50px;}

.sidenav .plan h4:nth-child(3){padding-left:50px;}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.toggle{
		font-size:40px;
		color:#000;
		cursor:pointer;
		position:absolute;
		right:10%;
}
/*slide*/
		
.image{
					margin-top:5px;
			}
.navbar{
		position:absolute !important;
		width:100%  !important;
		background-color:#fff !important;		
}
.order-page .navbar{
		position:relative !important;
		width:auto  !important;		
}
.manu	{font-weight:700;
				font-size:16px;
				color:#000;
				margin-top:5px !important;}
				
ul.manu li a	{border:2px #fff solid;
					color:#444444 !important;}
				
ul.manu li a:hover,ul.manu li a.active	{	
				background-color:#f3f3f3 !important;
				border-radius:7px;}
				
ul.manu a.sign-button i{
		padding-right:5px;
}



ul.manu  a.login-button{
	 	background-color:#08B3F9;
		color:#fff;
}

a.login-button	{padding:7px 20px !important;
				}
										
a.sign-button {
			  color:#fff;
			  padding:7px 15px;
			  transition:all .3s;
			  margin-left:10px;
			  margin-top:20px;
			  display:inline-block;
			  background-color:#08B3F9;
			  font-weight:400;
			  border-radius:10px;}
			  
.slider		{background-image:url(../img/slider-img.jpg);
				background-size:cover;
				padding-top:20px;}
.heading{
		height:100vh;
		padding-top:100px;
		min-height:625px;
}
.heading span	{font-weight:700;
					padding-right:15px;}
					
.heading h2	{font-size:34px;
				font-weight:400;
				color:#fff;
				font-weight:300;
				margin-top:8px;
				margin-bottom:0;}
				
input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  background-color: #fefefe;
  border: 1px solid;
  border-color: #ccc #fff #fff #ccc;
  border-radius: 50px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  float: left;
  margin-right: 7px;
  padding: 5px;
  position: relative;
  -webkit-appearance: none;
  margin-top:4px;
}
input[type="radio"]:checked + span {
  color: #f00;
}
input[type="radio"]:checked + span:after {
  background: #fe8c0f;
  border-radius: 50px;
  content: " ";
  height: 8px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 8px;

}
label:hover input[type="radio"] + span {
  border-color: #fe8c0f;
}
label	{font-size:15px;
		color:#fff;
		padding-left:15px;
		padding-top:10px;}
		
.information	{padding-top:10px;}

.information select	{width:100%;
					padding:15px;
					border-radius:15px;
					border:none;}
					
.information span	{font-size:14px;
				color:#717171;
				padding:12px 15px;
				border-radius:6px;
				background-color:#fff;
				font-weight:400;}

input	{border-radius:6px;
		padding:12px 15px;
		border:none;
		width:100%;
		color:#717171;}
		
.carousel-caption	{text-shadow:none !important;}
		
.information p	{font-size:15px;
				font-weight:700;
				color:#fff;
				text-align:left;}
			
.view-button 	{padding-top:20px;}

.view-button button	{border:1px #fff solid;
					background-color:transparent;
					font-size:14px;
					color:#fff;
					padding:10px 30px;
					margin-left:15px; 
					transition:all 0.3s;
					font-weight:bold;}										
.view-button button:hover{
		background-color:#f39200;
		border-color:#f39200;
}
.view-button button:nth-child(2)	{background: -moz-linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
									background: -webkit-linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
									background: linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
									border:none;
									padding:12px 30px;}
.view-button button:nth-child(2):hover{
		background:#f39200;
}
.text-sec	{margin-top:5px;
			position:relative;
			left:auto !important;
			right:auto !important;
			top:0 !important;}		
.slider-image img	{display:inline-block;}
		
.text-sec h4	{font-size:30px;
				color:#fff;
				font-weight:700;
				text-transform:uppercase;
				line-height:1.3;}
			
.text-sec p	{font-size:18px;
			color:#fff;
			text-transform:uppercase;
			margin-bottom:15px;}
.text-sec h6	{font-size:12px;
			color:#fff;
			font-weight:300;
			margin-top:5px;}			
.text-sec a	{font-size:18px;
			color:#fff;
			text-transform:uppercase;
			text-decoration:none;
			background-color:#08b3f9;
			padding:9px 35px;
			font-weight:700;
			border-radius:10px;
			transition:all 0.4s;
			display:inline-block;}		
.padd-70	{margin-top:30px;}
	/*Custom-select*/
div.cs-select {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				text-align: left;
				width: 100%;
				width: 100%;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}
ul.nav .cs-select {
		width:200px;
		text-transform:uppercase;
}
.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 30px;
	border:1px solid #cfd1d0;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	font-family:'FontAwesome';
	content: "\f078";
	right: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
	border:1px solid #cfd1d0;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 8px 15px;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}
		


/*bus*/	
.bus{
		background-image:url(../img/bus-bg.jpg);
		background-size:cover;
}
.bus .view-button button{
		background-color:#006aaf;
		border:2px solid #006aaf;
}
.bus .view-button button:hover,.datacard .view-button button:nth-child(2):hover{
		background-color:transparent;
}
.bus .text-sec h4{
		margin-top:68px;
}
.bus .slider-image img{
		margin-top:40px;
}
/*landline*/	
.landline{
		background-image:url(../img/landline-bg.jpg);	
		background-size:cover;
}
.landline .view-button button{
		padding-left:70px;
		padding-right:70px;
		background: -moz-linear-gradient(to top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
}

/*log-in*/
.modal-body{
		padding:0 !important;
}
.modal-body .col-sm-5{
		padding:0;
}
.modal-body .col-sm-7{
		padding:40px 40px 0;
}
.modal-body button.close{
		right:20px;
		top:12px;
		font-size:48px;
		position:absolute;
		z-index:55;
}
.form-sec ul{
		display:inline-block;
		margin-bottom:15px;
}
.form-sec ul.nav-tabs > li.active > a{
		background-color:#f39200;
		color:#fff;
}
.form-sec ul.nav-tabs > li > a{
		border:2px solid #f39200;
		color:#444444;
		margin-right:-8px;
		border-radius:6px;
}
.form-sec h2{
		font-size:22px;
		font-weight:700;
		color:#444444;
		text-align:left;
}
.form-sec p{
		font-size:15px;
		font-weight:200;
		color:#444444;
		text-align:left;
}
.input-row{
		position:relative;
}
.input-row img{
		position:absolute;
		left:0;
		bottom:25px;
}
.input-row input{
		padding-left:40px;
		background-color:transparent;
		border-bottom:2px solid #f1f1f1;
		border-radius:0;
		margin-bottom:15px;
}
.forgot-row a{
		font-size:13px;
		color:#006aaf;
		font-weight:200;
}
.privacy-sec input {
		width:auto;
		float:left;
		margin-right:15px;
}
.privacy-sec label{
		float:left;
		font-size:13px;
		color:#444444;
		font-weight:200;
		padding-top:3px;
}
.button a{
		display:block;
		background-color:#006aaf;
		font-size:16px;
		color:#fff;
		padding:15px 0;
		text-align:center;
		border-radius:8px;
		font-weight:700;
		 margin-top: 20px;
}
.button a img{
		vertical-align:bottom;
		margin-right:5px;
}

/*datacard*/
.datacard	{background-image:url(../img/datacard.jpg);
			background-size:cover;			
}

.datacard .view-button button:nth-child(2)	{background:#006aaf;
											border:2px #006aaf solid;
											padding:10px 30px;}

.datacard .text-sec a	{text-decoration:none;}


.input-sec input::-webkit-input-placeholder {
color: #ccc!important;
}

@media (min-width:320px) and (max-width:480px) {
				
			.datacard h2 {font-size:30px;}
}

/*DTH*/

.dth	{background-image:url(../img/DTH.jpg);
		background-size:cover;
		padding-bottom:10px;}

@media (min-width:320px) and (max-width:480px) {
				
			.dth h2 {font-size:30px;}
}

/*Wallet*/

.wallet	{background-image:url(../img/wallet.jpg);
		background-size:cover;
		padding-bottom:40px;}
	
.wallet i {
			color: #ffffff;
			font-size: 32px;
			font-weight: 300;
			text-transform: capitalize;
}
.wallet p.wallet-p{
		color:#fff;
		font-weight:300;
		font-size:15px;
}

.wallet .view-button button:nth-child(1)	{background: -moz-linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
											
											padding:12px 30px;}
.wallet .view-button button:nth-child(1):hover{
										background:#f39200;
}
.wallet .information	{display:inline-block;}

.wallet .text-sec a	{text-decoration:none;}

.modal.in .modal-dialog{
		transform:translate(0,30%) !important;
}

/*Summary*/

.summary-page	{background-color:#ebebeb;
				padding:150px 0px 50px;
				height:100vh;}

.summary1-page	{background-color:#fff;
				padding:50px;}
				
.summary1-page	.col-sm-3	{padding:0;}

.summary1-page	.col-sm-9	{padding-right:0;}
				
.summary-img img	{display:inline-block;}

.order h2	{font-size:22px;
			color:#444;
			font-weight:700;
			border-bottom:1px solid #ececec;
			padding-bottom:20px;}
			
.order p	{font-size:15px;
			color:#444;
			font-weight:300;
			margin-bottom:40px;}
			
.order h4	{font-size:18px;
			color:#444;
			font-weight:700;}
			
.summary1-page .order .col-sm-3 a	{padding:10px 20px;
									background: -moz-linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
									background: -webkit-linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
									background: linear-gradient(to right top,rgba(203,110,0,1) 0%, rgba(203,110,0,1)25%, rgba(243,146,0,1)60%, rgba(243,146,0,1));
									border-radius:10px;
									color:#fff;}
									
.summary1-page .order .col-sm-3	{margin-top:17px;}

.order .col-sm-9	{padding-left:0;}
			
.order .privacy-sec label	{font-size:13px;
							color:#444;
							font-weight:300;
							padding-top:1px;}
							
.order .col-sm-6.cashback p	{margin-bottom:15px;}

.order .col-sm-6	{padding-left:0 !important;}	


/*order-history-page*/
.order-page{
		background-color:#ebebeb;
}
.order-head{
		padding:40px 0 30px;
		background: linear-gradient(to bottom, #006aaf 0%, #006aaf 25%, #006aaf 50%, #003f69 100%) repeat scroll 0 0;
		background: -moz-linear-gradient(to bottom, #006aaf 0%, #006aaf 25%, #006aaf 50%, #003f69 100%) repeat scroll 0 0;
		background: -webkit-linear-gradient(to bottom, #006aaf 0%, #006aaf 25%, #006aaf 50%, #003f69 100%) repeat scroll 0 0;
}
.walet-sec img{
		float:left;
		margin-right:15px;
}
.walet-sec h2{
		color:#fff;
		font-weight:700;
		margin-top:5px;
		font-size:36px;
		margin-bottom:0;
}
.walet-sec p{
		color:#fff;
		font-weight:300;
		font-size:15px;
}
.input-sec{
		padding-top:10px;
}
.input-sec input{
		width:100%;
		background-color:transparent;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:2px solid #fff;
		border-radius:0;
		color:#fff;
		padding-left:0;
}
.input-sec p{
		color:#fff;
		font-size:13px;
		font-weight:300;
		margin-top:5px;
}
.input-sec p a{
	color:#fff;
}
.order-head .view-button button{
		width:100%;
		padding:15px 30px;
}
.order-page .order-sec{
		background-color:#fff;
		padding:50px 0;
		margin-top:-90px;
}
.order-top{
		margin-bottom:40px;
}
.ul-border{
		border-bottom:2px solid #ebebeb;
		margin-bottom:30px;
}
.ul-border ul{
		border-bottom:none;
}
.ul-border ul li{
		margin-bottom:-6px;
}
.ul-border ul li a:hover,.ul-border ul li.active a{
		border-top:none;
		border-right:none;
		border-left:none;
		color:#f39200;
}
.ul-border ul li a{
		border:none;
		color:#444;
		transition:all .2s;
		font-weight:700;
}
.ul-border ul li.active a{
		border-bottom:2px solid #f39200;
}
.order-body ul{
		display:inline-block;
}
.order-body .tab-content{
				padding:0 20px;
}
.order-table table{
				width:100%;
				font-size:13px;
				font-weight:300;
				color:#444;
}
.order-table table th{
			background-color:#ebebeb;
			padding:10px 0 10px 15px;
}
.order-table table tr td	{text-align:left;
							padding:15px 0 15px 15px;
							vertical-align:text-top;
							border-bottom:1px solid #ebebeb;}
.order-table table tr td:first-child	{padding-left:0;}
.order-table table tr td.status-gr	{color:#82c009;}
.order-table table tr td.status-rd	{color:#c60101;}
.order-table table tr td img	{float:left;}	
.order-footer a.sign-button{
		padding:18px 25px;
		border:2px solid #444 !important;
		margin-top: 35px;
}
/*table*/
@media (min-width:320px) and (max-width:1024px){
		.order-table{
				overflow:auto;
		}
		.order-table table{
				width:1000px;
		}
}

/* invoice*/
.account .payment{
		background-color:#f7f7f7;
		padding:70px 40px;
}
.payment h5{
	font-size:30px;
	color:#444;
	font-weight:600;
}
.payment h6{
	font-size:20px;
	color:#444;
	font-weight:600;
	text-transform:uppercase;
	margin-top:20px;
}
.payment h5{
	font-size:20px;
	color:#444;
	font-weight:600;
	text-transform:uppercase;
	margin-top:20%;
}
.payment p{
	font-size:20px;
	color:#444;
	font-weight:300;
}
.account .recharge {
	background-color:#fff;
	padding:70px 40px 150px 40px;
}

.recharge h5 {
		font-size:22px;
		font-weight:700;
		color:#444;
		text-transform:capitalize;
}
.recharge p	{
		font-size:15px;
		color:#444;
		font-weight:300;
}
.recharge h2 {
	font-size:36px;
	color:#444;
	font-weight:300;
}


/*soc-icon*/
.blog-social{
		display:block;
		margin-left:20px;
		position:fixed;
		z-index:562;
		right:50px;
		bottom:50px;
}
.blog-social ul{
		list-style:none;
		padding-left:0px;
		display:block;
}
.blog-social ul li a{
		border-radius:50%;
		-webkit-border-radius:50%;
		height:50px;
		width:50px;
		text-align:center;
		display:block;
		line-height:50px;
		color:#fff;
		font-size:18px;
		transition:delay 0.3s;
		background-color:#f39200;
}
.blog-social ul ul li{
			float:none;
			position:relative;
			z-index:5;
			margin-right:10px;
}
.blog-social ul ul{
			display:none;
			position:absolute;
}
.blog-social ul li:hover > ul{
			display:block;
			top:-300px;
}
.blog-social ul ul li a{
		display:inline-block;
		text-decoration:none;
		padding:0 15px;
		color:#fff;
		width:50px;
		line-height:50px;
		transition:all 0.3s;
		margin-top:10px;
}	
.blog-social ul ul li a.fb{
		background-color:#4867AA;
}
.blog-social ul ul li a.twi{
		background-color:#1DA1F2;
}
.blog-social ul ul li a.insta{
		background-color:#E4102D;
}
.blog-social ul ul li a.linked{
		background-color:#007BB6;
}
.blog-social ul ul li a.pint{
		background-color:#BD081C;
}


/*Mesia -Queries*/	
@media (min-width:320px) and (max-width:480px) {
.navbar{
		position:relative !important;
}
.heading{
		height:auto;
		padding-top:50px;
		padding-bottom:30px;
}
			.heading h2 {font-size:30px;}
			
			.information p	{text-align:center;
							padding:0;}
			
			.text-sec img	{margin-top:35px;}
			
			.text-sec h4	{font-size:26px;}
			
			.view-button button:nth-child(2)	{margin-top:15px;}
			
			.navbar-header a 	{width:80%;
								margin-top:8px;}
						
			.carousel-caption	{padding-bottom:0 !important;}
			.modal.in .modal-dialog{transform:translate(0,0) !important;}
			.order h2	{font-size:20px;
						padding-top:10px;}
						
			.order h4	{font-size:16px;}
			
			.order p	{font-size:14px;}	
			
			.summary1-page	{padding:50px 15px;
							top:-20px;}
								
			.order .col-sm-3 a	{margin-bottom:30px;
								margin-top:0;}
								
			.summary-page	{height:100%;}
			
			.ul-border ul li a{
						font-size:13px;
						min-height:41px;
			}
			.order-head .view-button button	{margin-left:0 !important;}	
.blog-social{
		right:10px;
		bottom:15px;
}
.blog-social ul li a{
		width:40px;
		height:40px;
		line-height:40px;
}
.blog-social ul ul li a{
		line-height:40px;
		width:40px;
		height:40px;
		padding:0;
}
.blog-social ul li:hover > ul{
		top:-250px;
}
.summary1-page .order .col-sm-3 {
		margin-top:10px;
		margin-bottom:15px;
}
}

@media (min-width:481px) and (max-width:767px) {
.navbar{
		position:relative !important;
}
.heading{
		height:auto;
		padding-top:50px;
		padding-bottom:30px;
}	
			.heading h2 {font-size:35px;}
			
			.manu1 img	{margin-top:35px;}
			
			.slider-image img	{display:inline-block;
								margin-top:35px;}
					
			a.image img	{margin-left:15px;}
			
			.carousel-caption	{padding-bottom:0 !important;}
			.image{
					margin-top:0px;
			}
			.modal.in .modal-dialog{transform:translate(0,0) !important;}	
.blog-social{
		right:10px;
		bottom:15px;
}
.blog-social ul li a{
		width:40px;
		height:40px;
		line-height:40px;
}
.blog-social ul ul li a{
		line-height:40px;
		width:40px;
		height:40px;
		padding:0;
}
.blog-social ul li:hover > ul{
	
}
.summary1-page .order .col-sm-3 {
		margin-top:10px;
		margin-bottom:15px;
}
}

@media (min-width:768px) and (max-width:991px) {
.navbar{
		position:relative !important;
}
.heading{
		height:auto;
		padding-top:50px;
		padding-bottom:30px;
}
.navbar-brand{
		margin-bottom:15px;
}
		.manu	{font-size:14px;}
		
		a.login-button	{font-size:13px;}
		
		.slider-image img	{display:inline-block;
							margin-top:35px;}
		.image{
					margin-top:0px;
		}
		.navbar-collapse{
				padding:0;
		}
		.navbar-header	{float:none;}
		.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {left: 50%;
																					  position: relative;
																					  transform: translateX(-50%);}
		.modal-body .col-sm-7{
				padding:15px 15px 0;
		}
		.modal-dialog{
				width:738px !important;
		}
		.form-sec ul{
				margin-bottom:0;
		}
		.order h2{
				font-size:20px;
				padding-top:10px;
		}
						
		.order h4{
				font-size:16px;
		}
			
		.order p{
				font-size:14px;
		}	
			
		.summary1-page{
				padding:50px 15px;
				margin-top:43px;
		}
		.summary-page	{height:100%;}
		.order-head .view-button button	{margin-left:0 !important;}
}
@media (min-width:992px) and (max-width:1024px) {
.text-sec h4{
		font-size:32px;
}
.navbar-brand{
		margin-bottom:15px;
}
		.manu	{font-size:14px;}

		.navbar-header	{float:none;}
		
		.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {left: 50%;
																					  position: relative;
																					  transform: translateX(-50%);}
																				
		.navbar-default .navbar-right	{margin-left:0 !important;
										float:none !important;}
				
		ul.manu	{display:inline-block;}
				
		.navbar-right	{margin-right:0 !important;}
		.order h2	{font-size:20px;
						padding-top:10px;}
						
		.order h4	{font-size:16px;}
			
		.order p	{font-size:14px;}	
			
		.summary1-page	{padding:50px 15px;
						margin-top:75px;}
						
		.summary-page	{height:100%;}
}

@media (min-width:1025px) and (max-width:1199px){

	ul.manu li a	{font-size:14px;
					padding:10px 12px !important;}
.text-sec h4{
		font-size:30px;
}
		.order h2	{font-size:20px;
						padding-top:10px;}
						
		.order h4	{font-size:16px;}
			
		.order p	{font-size:14px;}	
			
		.summary1-page	{padding:50px 15px;}
}

@media (min-width:1361px) and (max-width:1700px){
.heading h2{
		margin-top:25px;
		margin-bottom:15px;
}
.text-sec{
		margin-top:30px;
}
}

.datatable th {
    font-size: 13px !important;
}
.order-table label {
        color: black;
}
.order-table .dataTables_length,
.order-table .dataTables_info
{
        text-align: left;
}  