body {
    color: #4F4F4F
}

.profile {
    margin-top: 30px
}

.avatar {
    border-radius: 50%;
    margin-bottom: 10px
}

.username {
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.05em
}

.p-container {
    padding: 10px 30px 10px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(194, 118, 50, 0.1);
    border-radius: 4px
}

.p-container label {
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #4F4F4F
}

.under-line {
    border-bottom: solid 1px grey;
    padding-top: 5px
}

.text-info {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #4F4F4F
}

.p-tabs {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(194, 118, 50, 0.1);
    border-radius: 4px;
    height: 100%;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: capitalize
}

.p-tabs .active a {
    background: rgba(208, 151, 101, 0.1);
    color: #C27632 !important;
    background-color: rgba(208, 151, 101, 0.1) !important
}

.h-100 {
    height: 100%
}

.service {
    display: flex;
    justify-content: space-between
}

.service .s-item {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(194, 118, 50, 0.1);
    border-radius: 4px
}

.service .s-item a {
    text-decoration: none;
    color: #4F4F4F;
    text-align: center;
    display: inline-block
}

.service .s-item a p {
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: capitalize
}

.service .s-item a img {
    height: 40px
}

.service .s-active {
    background: rgba(208, 151, 101, 0.2);
    color: #C27632
}

.service .s-active p {
    color: #C27632
}

.glyphicon-arrow-left {
    margin-right: 10px;
    cursor: pointer
}

.glyphicon-arrow-right {
    margin-left: 10px;
    cursor: pointer
}

.inner-addon {
    position: relative
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none
}

.left-addon .glyphicon {
    left: 0px
}

.right-addon .glyphicon {
    right: 0px
}

.left-addon input {
    padding-left: 30px
}

.right-addon input {
    padding-right: 30px
}

.search {
    max-width: 700px;
    margin: 0 auto
}

.search input {
    border: 1px solid #C27632;
    box-sizing: border-box;
    border-radius: 20px
}

.space-top {
    margin-top: 20px
}

.mt-20 {
    margin-top: 20px
}

.h-i-title {
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4F4F4F
}

.text-id {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #4F4F4F
}

.money {
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #4E4E4E
}

.i-title {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #4F4F4F
}

.i-info {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #4E4E4E
}

.h-item {
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #fff;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
    padding: 10px 20px
}

.review .username {
    float: left;
    max-width: 100px;
    padding: 10px
}

.text-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(194, 118, 50, 0.1);
    border-radius: 19px;
    float: left;
    padding: 10px;
    max-width: 90%
}

.comment {
    margin-bottom: 15px
}

.c-text textarea {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(194, 118, 50, 0.1);
    border-radius: 39px;
    padding: 10px;
    width: 70%;
    float: left
}

.c-text a {
    display: inline-block;
    padding: 20px
}

.c-text a img {
    width: 40px
}

.edit-btn {
    width: 225px;
    background: #FF993C;
    border-radius: 18px;
    color: #FFFFFF;
    margin-top: 30px;
    border: solid 1px #FF993C
}

.edit-btn:hover {
    background: #FFFFFF;
    transition: .5s;
    color: #FF993C
}
