<!-- BEGIN: Subheader -->
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title ">
				Billing & Plan
			</h3>
		</div>
	</div>
</div>

<!-- END: Subheader -->
<div class="m-content">

	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#current_plan" role="tab">
							<i class="flaticon-information"></i>
							Your Current Plan and Billing Information
						</a>
					</li>

					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#upgrade_plan" role="tab">
							<i class="flaticon-line-graph"></i>
							Upgrade Plan
						</a>
					</li>

					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#billing_history" role="tab">
							<i class="flaticon-time-3"></i>
							Billing History
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body" style="min-height: 200px;">
			<div class="tab-content">
				<div class="tab-pane active" id="current_plan" role="tabpanel">

					<div class="row">
						<div class="col-md-4">
							<div class="m-portlet">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon">
												<i class="la la-leaf"></i>
											</span>
											<h3 class="m-portlet__head-text">
												Your Current Plan
											</h3>
										</div>
									</div>
								</div>
								<div class="m-portlet__body">
									<div class="m-pricing-table-1">
										<div class="m-pricing-table-1__items row">
											<div class="m-pricing-table-1__item col-lg-12">
												<div class="m-pricing-table-1__visual">
													<div class="m-pricing-table-1__hexagon1"></div>
													<div class="m-pricing-table-1__hexagon2"></div>
													<span class="m-pricing-table-1__icon m--font-brand">
														<i class="fa flaticon-piggy-bank"></i>
													</span>
												</div>
												<span class="m-pricing-table-1__price">
													Free
												</span>
												<h2 class="m-pricing-table-1__subtitle">
													10 Orders Sync/Month
												</h2>
												<span class="m-pricing-table-1__description">
													
												</span>
												<div class="m-pricing-table-1__btn">
													<div class="btn-group">
														<a href="#"  class="btn btn-brand m-btn m-btn--custom m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Upgrade Plan</a>
														<button type="button" class="btn btn-brand m-btn m-btn--custom m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">Cancel Subscription</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-8">
							
							<div class="m-portlet m-portlet--full-height ">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<h3 class="m-portlet__head-text">
												Billing Information
											</h3>
										</div>
									</div>
								</div>
								<div class="m-portlet__body">
									<div class="m-widget13">
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												Fullname
											</span>
											<span class="m-widget13__text m-widget13__text-bolder">
												Jerson Ramos
											</span>
										</div>
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												Company
											</span>
											<span class="m-widget13__text m-widget13__text-bolder">
												FusedTracker
											</span>
										</div>
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												Email:
											</span>
											<span class="m-widget13__text">
												jerson@fusedsoftware.com
											</span>
										</div>
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												Address:
											</span>
											<span class="m-widget13__text m-widget13__text-bolder">
												Orion, Bataan
											</span>
										</div>
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												City:
											</span>
											<span class="m-widget13__text">
												Balanga City
											</span>
										</div>
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												Country:
											</span>
											<span class="m-widget13__text m-widget13__number-bolder m--font-brand">
												Philippines
											</span>
										</div>
										<div class="m-widget13__item">
											<span class="m-widget13__desc m--align-left">
												Post Code:
											</span>
											<span class="m-widget13__text">
												2100
											</span>
										</div>
										<div class="m-widget13__action m--align-right">
											<button type="button" class="btn m-btn--pill btn-primary btn-condensed">
												<i class="flaticon-edit"></i>
												Update your Billing Information
											</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div class="tab-pane" id="upgrade_plan" role="tabpanel">
					
					<div class="m-portlet">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon">
										<i class="la la-leaf"></i>
									</span>
									<h3 class="m-portlet__head-text">
										Plans
									</h3>
								</div>
							</div>
						</div>
						<div class="m-portlet__body">
							<div class="m-pricing-table-1">
								<div class="m-pricing-table-1__items row">
									<div class="m-pricing-table-1__item col-lg-3">
										<div class="m-pricing-table-1__visual">
											<div class="m-pricing-table-1__hexagon1"></div>
											<div class="m-pricing-table-1__hexagon2"></div>
											<span class="m-pricing-table-1__icon m--font-brand">
												<i class="fa flaticon-piggy-bank"></i>
											</span>
										</div>
										<span class="m-pricing-table-1__price">
											Free
										</span>
										<h2 class="m-pricing-table-1__subtitle">
											1 End Product License
										</h2>
										<span class="m-pricing-table-1__description">
											Lorem ipsum aret
											<br>
											sed do eiusmod
											<br>
											magna siad ali
										</span>
										<div class="m-pricing-table-1__btn">
											<button type="button" class="btn btn-brand m-btn m-btn--custom m-btn--pill m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
												Purchase
											</button>
										</div>
									</div>
									<div class="m-pricing-table-1__item col-lg-3">
										<div class="m-pricing-table-1__visual">
											<div class="m-pricing-table-1__hexagon1"></div>
											<div class="m-pricing-table-1__hexagon2"></div>
											<span class="m-pricing-table-1__icon m--font-accent">
												<i class="fa flaticon-confetti"></i>
											</span>
										</div>
										<span class="m-pricing-table-1__price">
											69
											<span class="m-pricing-table-1__label">
												$
											</span>
										</span>
										<h2 class="m-pricing-table-1__subtitle">
											Business License
										</h2>
										<span class="m-pricing-table-1__description">
											Lorem ipsum
											<br>
											sed do eiusmod
											<br>
											magna siad enim aliqua
										</span>
										<div class="m-pricing-table-1__btn">
											<button type="button" class="btn m-btn--pill  btn-accent m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
												Purchase
											</button>
										</div>
									</div>
									<div class="m-pricing-table-1__item col-lg-3">
										<div class="m-pricing-table-1__visual">
											<div class="m-pricing-table-1__hexagon1"></div>
											<div class="m-pricing-table-1__hexagon2"></div>
											<span class="m-pricing-table-1__icon m--font-focus">
												<i class="fa flaticon-rocket"></i>
											</span>
										</div>
										<span class="m-pricing-table-1__price">
											548
											<span class="m-pricing-table-1__label">
												$
											</span>
										</span>
										<h2 class="m-pricing-table-1__subtitle">
											Enterprice License
										</h2>
										<span class="m-pricing-table-1__description">
											Lorem ipsum dolor
											<br>
											sed do eiusmod
											<br>
											magna siad enim
										</span>
										<div class="m-pricing-table-1__btn">
											<button type="button" class="btn m-btn--pill  btn-focus m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
												Purchase
											</button>
										</div>
									</div>
									<div class="m-pricing-table-1__item col-lg-3">
										<div class="m-pricing-table-1__visual">
											<div class="m-pricing-table-1__hexagon1"></div>
											<div class="m-pricing-table-1__hexagon2"></div>
											<span class="m-pricing-table-1__icon m--font-primary">
												<i class="fa flaticon-gift"></i>
											</span>
										</div>
										<span class="m-pricing-table-1__price">
											899
											<span class="m-pricing-table-1__label">
												$
											</span>
										</span>
										<h2 class="m-pricing-table-1__subtitle">
											Custom License
										</h2>
										<span class="m-pricing-table-1__description">
											Lorem ipsum
											<br>
											sed do eiusmod tem
											<br>
											magna siad enim
										</span>
										<div class="m-pricing-table-1__btn">
											<button type="button" class="btn m-btn--pill  btn-primary m-btn--wide m-btn--uppercase m-btn--bolder m-btn--sm">
												Purchase
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="billing_history" role="tabpanel">
					

					
				</div>
			</div>
		</div>
	</div>

</div>

