<template>
<div class="sc-content clearfix">
    <div class="sc-point left clearfix">
        <div class="sc-pt left">
            <div class="sc-pt-inp">
                <span>
                    <svg x="0px" y="0px" width="15px" height="15px" viewBox="0 0 11.178 11.179"
                        enable-background="new 0 0 11.178 11.179" fill="#999">
                        <path d="M7.989,7.031H7.485l-0.18-0.173c0.627-0.729,1.004-1.675,1.004-2.704C8.309,1.86,6.449,0,4.154,0C1.86,0,0,1.86,0,4.154 C0,6.449,1.86,8.31,4.154,8.31c1.029,0,1.975-0.377,2.704-1.004l0.173,0.178v0.506l3.195,3.189l0.952-0.952L7.989,7.031z M4.154,7.031c-1.591,0-2.876-1.285-2.876-2.877c0-1.591,1.285-2.876,2.876-2.876c1.592,0,2.876,1.285,2.876,2.876 C7.031,5.746,5.746,7.031,4.154,7.031z"></path>
                    </svg>
                </span>
                <input type="text" :placeholder="'Search from ' +  response.Dropoffs.length + ' drop-off location and click to select'"
                    id="search_drop" value="">
            </div>
            <div class="sc-pt-loc scroller">
                <div class="clearfix sc-pt-wrap" v-for="(item, index) of response.Dropoffs" :key="index">
                    <div class="left sc-pt-tm">
                        <div>{{getTimeFrom(item.DropoffTime)}}</div>
                        <div>{{getDateFrom(item.DropoffTime)}}</div>
                    </div>
                    <div class="left sc-pt-addr">
                        <div :title="item.DropoffName">{{item.DropoffName}}</div>
                        <div></div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="left sc-pt-txt">
            <div class="sc-pt-info">
                <div class="ty-btn orange button-bounce">ADD PASSENGER</div>
                <div class="sc-pt-info-wrap">
                    <div><img src="/images/bus/drop-point.db841b8a.svg" alt=" drop-off">
                        <div>Koyambedu </div>
                        <div></div>
                    </div>
                    <div><img src="/images/bus/departure.63c6278a.svg" alt=" drop-off">
                        <div>10:00</div>
                        <div>23rd Jan 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
    computed: {
        ...mapState({
            response: state => state.BusTicket.chartResponse,
        }),
    },

    methods: {
        ...mapActions('BusTicket', [
            'selectedDropoff'
        ]),
    }
}
</script>

<style>

</style>
