<template>
<div class="sc-content clearfix">
    <div class="left clearfix sc-pass-wrap">
        <div class="left sc-pass-det scroller">
            <div class="clearfix">
                <div class="left sc-pass-st">Seat No</div>
                <div class="left sc-pass-nm">Name</div>
                <div class="left sc-pass-ag">Age</div>
                <div class="left sc-pass-gd">Gender</div>
            </div>
            <div class="clearfix">
                <div class="left sc-pass-st center"><span>SL5</span></div>
                <div class="left sc-pass-nm"><input type="text" class="err-inp"  value=""></div>
                <div class="left sc-pass-ag"><input type="tel" maxlength="2" class="" value="">
                    <div style="white-space: nowrap;"></div>
                </div>
                <div class="left sc-pass-gd clearfix">
                    <div class=""><label><input type="radio" class="gender" >Male</label></div>
                    <div class=""><label><input type="radio" class="gender" >Female</label></div>
                </div>
            </div>
            <div class="clearfix">
                <div class="left sc-pass-st center"><span>DL9</span></div>
                <div class="left sc-pass-nm"><input type="text" class=""  value=""></div>
                <div class="left sc-pass-ag"><input type="tel" maxlength="2" class="" value="">
                    <div style="white-space: nowrap;"></div>
                </div>
                <div class="left sc-pass-gd clearfix">
                    <div class=""><label><input type="radio" class="gender" >Male</label></div>
                    <div class=""><label><input type="radio" class="gender" >Female</label></div>
                </div>
            </div>
        </div>
        <div class="left sc-pass-info">
            <div class="sc-pass-wrap">
                <div class="ty-btn new-gray">ENTER NAME, AGE, GENDER</div>
                <div>You have selected 2 seats</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
