<template>
<div class="sc-content clearfix">
    <div class="sc-canc left clearfix">
        <div class="cancellation-policy-wrapper left">
            <div class="cancellation-policy-heading">
                <div class="cancellation-policy-col-txt">Cancellation Time</div>
                <div class="cancellation-policy-col-percentage">Cancellation Charges</div>
            </div>
            <div class="cancellation-policy-body">
                <div class="cancellation-policy-col-txt"><span>From 0 to 8 hrs</span></div>
                <div class="cancellation-policy-col-percentage"><span>100</span><span> %</span></div>
            </div>
            <div class="cancellation-policy-body">
                <div class="cancellation-policy-col-txt"><span>From 8 to 24 hrs</span></div>
                <div class="cancellation-policy-col-percentage"><span>60</span><span> %</span></div>
            </div>
            <div class="cancellation-policy-body">
                <div class="cancellation-policy-col-txt"><span>From 24 to 48 hrs</span></div>
                <div class="cancellation-policy-col-percentage"><span>30</span><span> %</span></div>
            </div>
            <div class="cancellation-policy-body">
                <div class="cancellation-policy-col-txt"><span>Before 48 hrs</span></div>
                <div class="cancellation-policy-col-percentage"><span>20</span><span> %</span></div>
            </div>
        </div>
        <div class="adv-extra right">
            <div class="ty-btn orange button-bounce" style="display: block; width: 75%; margin-left: auto; padding: 10px 15px; font-size: 0.9rem; text-transform: uppercase; margin-bottom: 50px;">ADD
                PASSENGER</div>
            <div class="adv-text-head">Additional Travelyaari Services</div>
            <div>
                <div class="adv-text">
                    <div style="padding-bottom: 10px;"><span style="color: rgb(0, 137, 207);">TY</span><span style="color: rgb(241, 90, 34);">SURE</span>
                        - Insurance &amp; Reliability</div>
                    <div>We make alternate arrangements if bus services are canceled, or we refund upto double of your
                        paid amount.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
