<template>
<div class="sc-content clearfix">
    <div class="left clearfix">
        <div class="sc-left left">
            <div class="sc-filter scroller">
                <div 
                    :class="{active: UniqFares_active == 'all'}" 
                    style="border-top-color: rgb(255, 255, 255);"
                    @click="changeUniTab('all')"
                    >All</div>
                <div v-for="(item, index) of uniFare()"  
                    :class="{active: UniqFares_active == item}" 
                    :key="index" 
                    @click="changeUniTab(item)"
                    >{{'₹' + item}}</div>
            </div>
        </div>
        <div class="sc-mid left scroller">
            <div class="deck-wheels" style="top: 35px;"><img src="/images/bus/operator.c5d4de40.svg" alt="Driver"></div>
            <div class="lower-deck">
                <div class="deck-details" v-if="lower_seats.max_row"><span class="deck-text">Lower berth - </span><span>{{lower_avaiable}} seats available</span></div>
                <div v-if="lower_seats.max_row">
                    <table class="seat-table">
                        <thead>
                            <th v-for="i of lower_seats.max_row" :key="i"></th>
                        </thead>
                        <tbody>
                            <tr v-for="i of lower_seats.max_col" :key="i">
                                <td v-for="(item, index) of lower_seats['col_' + (i - 1)]" :key="index"  :rowspan="item.width" :colspan="item.height">
                                    <a v-if="item.name" href="javascript:void(0)" class="seat-item" 
                                        :class="makeClassSeatItem(item)"  
                                        v-tooltip="{content: generateToolTipContent(item)}"
                                        @click="addSeat(item)"
                                        >{{item.name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="upper-deck">
                <span v-if="error" class="err-max-st">6 seats are allowed per booking. For more seats please go for multiple bookings.</span>
                <div class="deck-details" v-if="upper_seats.max_row"><span class="deck-text">Upper berth - </span><span>{{upper_avaiable}} seats available</span></div>
                <div v-if="upper_seats.max_row">
                    <table class="seat-table">
                        <thead>
                            <th v-for="i of upper_seats.max_row" :key="i"></th>
                        </thead>
                        <tbody>
                            <tr v-for="i of upper_seats.max_col" :key="i">
                                <td v-for="(item, index) of upper_seats['col_' + (i - 1)]" :key="index"  :rowspan="item.width" :colspan="item.height">
                                    <a v-if="item.name" href="javascript:void(0)" class="seat-item" 
                                        :class="makeClassSeatItem(item)"  
                                        v-tooltip="{content: generateToolTipContent(item)}"
                                        @click="addSeat(item)"
                                        >{{item.name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="sc-right left">
            <div class="sc-seat-info">
                <div class="ty-btn orange button-bounce" id="select_pickup">SELECT PICKUP</div>
            </div>
            <div class="sc-fare-info">
                <div class="clearfix" style="padding: 0px 5px;">
                    <div class="left">Base fare (2 seat)</div>
                    <div class="right">₹{{money}}</div>
                </div>
                <div class="clearfix sc-fare-total" style="color: rgb(0, 0, 0); font-weight: 500; padding: 0px 5px;">
                    <div class="right">₹{{money}}</div>
                </div>
                <div style="color: rgb(153, 153, 153); font-style: italic; line-height: 1.4; padding: 30px 5px 0px;">*
                    Avail more discounts using coupon code in payment screen</div>
            </div>
            <div class="sc-legend">
                <div><span></span>Normal</div>
                <div><span></span>Female</div>
                <div><span></span>Male</div>
                <div><span></span>Sold</div>
            </div>
        </div>
    </div>
</div>

</template>

<script>
import dataDemo from '../sample_chart_layout2.json'
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
    data() {
        return {
            error: false,
            lower_seats: {},
            upper_seats: {},
            lower_avaiable: 0,
            upper_avaiable: 0,
            UniqFares_active: 'all'
        }
    },

    mounted() {
        this.prepareData()
    },

    computed: {
        ...mapState({
            response: state => state.BusTicket.chartResponse,
            money: state => state.BusTicket.money,
        }),
    },

    methods: {
        ...mapActions('BusTicket', [
            'changeMoney'
        ]), 
        uniFare() {
            return _.filter(this.response.SeatsStatus.UniqFares, function(value) { return value > 0 });
            // return _.filter(dataDemo.data.SeatsStatus.UniqFares, function(value) { return value > 0 });
        }, 
        lowerFilter() {

        },
        prepareData() {
            let data = this.response 
            // let data = dataDemo.data
            let ChartLayout = data.ChartLayout
            let ChartSeats = data.ChartSeats
            let SeatsStatus = data.SeatsStatus
            let layout = ChartLayout.Layout
            let info = ChartLayout.Info

            if(layout.Lower) {
                this.lower_avaiable = data.AvailSeats.Lower
                let lowerSeat = layout.Lower
                this.lower_seats = this.makeSeat(lowerSeat, ChartSeats, SeatsStatus, info.Lower.MaxRows, info.Lower.MaxCols)
            } else {
                this.lower_seats = {}
            }

            if(layout.Upper) {
                this.upper_avaiable = data.AvailSeats.Upper
                let upperSeat = layout.Upper
                this.upper_seats = this.makeSeat(upperSeat, ChartSeats, SeatsStatus, info.Upper.MaxRows, info.Upper.MaxCols)
            }
            
        },

        makeSeat(dataSeat,ChartSeats, SeatsStatus,  MaxRows, MaxCols) {
            var tmp = {
                max_row: MaxRows,
                max_col: MaxCols,
            }
            for (let index = 0; index < MaxCols; index++) {
                let key = 'col_' + index 
                tmp[key] = []
            }
            _.forEach(dataSeat, item => {
                let seq_no = item[0]
                var obj = {
                    seq_no: seq_no,
                    row: item[1],
                    col: item[2],
                    width: item[3],
                    height: item[4],
                    seat_type: item[5],
                    name: ChartSeats.Seats[seq_no],
                    status: SeatsStatus.Status[seq_no],
                    fare: {
                        total_fare: SeatsStatus.Fares[seq_no][0],
                        base_fare: SeatsStatus.Fares[seq_no][1],
                        amount: SeatsStatus.Fares[seq_no][4],
                    },
                    fare_base: SeatsStatus.Fares[seq_no],
                    added: false, 
                    isHidden: false
                }
                for (let index = 0; index < MaxCols; index++) {
                    let key = 'col_' + index 
                    if(obj.col == index) {
                        tmp[key].push(obj)
                        break
                    }
                }
                
            })
            
            for (let index = 0; index < MaxCols; index++) {
                let key = 'col_' + index 
                if(tmp[key][0] && tmp[key][0].row > 0) {
                    let n = tmp[key][0].row
                    for (let j = 0; j < n; j++) {
                        tmp[key].unshift({})
                    }
                } else if(tmp[key].length == 0) {
                    for (let i = 0; i < MaxRows; i++) {
                        tmp[key].unshift({})
                    }
                }
            }
            // console.log(tmp)
            return tmp
        },

        getSeatType(type) {

            switch (type) {
                case 1:
                    return 'Seating'
                    break;
            
                case 2:
                    return 'Sleeper'
                    break;
            
                case 4:
                    return 'Semi Sleeper'
                    break;
            
                default:
                    return 'undefined'
                    break;
            }
        },

        getStatus(value) {

            switch (value) {
                case 0:
                    return 'Not Available'
                    break;
            
                case 1:
                    return 'Available for all'
                    break;
            
                case 2:
                    return 'Available only for male'
                    break;
            
                case 3:
                    return 'Available only for female'
                    break;
            
                case -2:
                    return 'Booked by male'
                    break;
            
                case -3:
                    return 'Booked by female'
                    break;
            
                default:
                    return 'undefined'
                    break;
            }
        },

        generateToolTipContent(item) {
            let status = this.getStatus(item.status)
            let type = this.getSeatType(item.seat_type)
            return `
                <div class="seat-info">
                    <p>Seat: <strong>${item.name}</strong> </p>
                    <p>Status: <strong>${status}</strong> </p>
                    <p>Type: <strong>${type}</strong> </p>
                    <p>Total Fare: <strong>₹${item.fare.total_fare}</strong> </p>
                    <p>Base Fare: <strong>₹${item.fare.base_fare}</strong> </p>
                    <p>Amount: <strong>₹${item.fare.amount}</strong> </p>
                </div>
            `
        },

        makeClassSeatItem(item) {
            var obj = {}
            if(item.status == 0 || item.status == -2 || item.status == -3) {
                obj['s-sold'] = true
            }
            if(item.status == 1) {
                obj['s-normal'] = true
            }
            if(item.status == 2) {
                obj['s-male'] = true
            }
            if(item.status == 3) {
                obj['s-female'] = true
            }
            if(item.added) {
                obj['s-active'] = true
            }
            if(item.isHidden) {
                obj['hidden'] = true
            }
            
            return obj
        },

        addSeat(item) {
            if(item.status == 0 || item.status == -2 || item.status == -3) return false
            item.added = !item.added
            if(item.added) {
                this.changeMoney(item.fare.total_fare + this.money)
            }
        },

        changeUniTab(index) {
            this.UniqFares_active = index
            let tmp1 = this.lower_seats
            let tmp2 = this.upper_seats
            _.forEach(tmp1, (item, key) => {
              
                if(typeof(item) == 'object') {
                    _.forEach(item, (obj, i) => {
                        var hidden = true 
                        if(index == 'all') {
                            hidden = false 
                        } else if(typeof(obj.fare_base) != 'undefined' && obj.fare_base.includes(index) && obj.status > 0) {
                            hidden = false 
                        }
                        tmp1[key][i].isHidden = hidden
                    })
                }
            })
            _.forEach(tmp2, (item, key) => {
                if(typeof(item) == 'object') {
                    _.forEach(item, (obj, i) => {
                        var hidden = true 
                        if(index == 'all') {
                            hidden = false 
                        } else if(typeof(obj.fare_base) != 'undefined' && obj.fare_base.includes(index) && obj.status > 0) {
                            hidden = false 
                        }
                        tmp2[key][i].isHidden = hidden
                    })
                }
            })
            this.lower_seats = tmp1
            this.upper_seats = tmp2
            
        }
    }
}
</script>

<style>

</style>
