<template>
<div>
    <i class="icon fa fa-lightbulb-o inner-icon" aria-hidden="true"></i>
    <div id="tab2" class="tab-grid">
        <div class="login-form">
            <form action="pay.html" method="post">
                <ol>
                    <li>
                        <div class="agileits-select">
                            <select class="selectpicker show-tick" data-live-search="true">
                                <option data-tokens="Select Operator">Select Operator</option>
                                <option data-tokens="Operator1">Operator1</option>
                                <option data-tokens="Operator2">Operator2</option>
                                <option data-tokens="Operator3">Operator3</option>
                                <option data-tokens="Operator4">Operator4</option>
                                <option data-tokens="Operator5">Operator5</option>
                                <option data-tokens="Operator6">Operator6</option>
                                <option data-tokens="Operator7">Operator7</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <input type="text" value="Customer Account Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Customer Account Number';}"
                            required="">
                    </li>

                    <li>
                        <input type="submit" class="submit" value="Proceed" />
                    </li>
                </ol>
            </form>

        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
