<template>
<div>
    <div class="agileits-tab_nav">
        <ul class="resp-tabs-list hor_1" style="margin-top: 3px;">
            <li class="resp-tab-item hor_1 " :class="{'resp-tab-active': TABS.MOBILE == current_tab}" @click="changeTab(TABS.MOBILE)" aria-controls="hor_1_tab_item-0" role="tab" style="background-color: rgb(255, 255, 255); border-color: rgb(193, 193, 193);"><i class="icon fa fa-mobile" aria-hidden="true"></i>Mobile</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.DTH == current_tab}" @click="changeTab(TABS.DTH)" aria-controls="hor_1_tab_item-1" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-television" aria-hidden="true"></i>DTH</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.DATA_CARD == current_tab}" @click="changeTab(TABS.DATA_CARD)" aria-controls="hor_1_tab_item-2" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-credit-card" aria-hidden="true"></i>Data Card</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.ELECTRICITY == current_tab}" @click="changeTab(TABS.ELECTRICITY)" aria-controls="hor_1_tab_item-3" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-lightbulb-o" aria-hidden="true"></i>Electricity</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.LAND_LINE == current_tab}" @click="changeTab(TABS.LAND_LINE)" aria-controls="hor_1_tab_item-4" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-phone" aria-hidden="true"></i>Land Line</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.BOARD == current_tab}" @click="changeTab(TABS.BOARD)" aria-controls="hor_1_tab_item-5" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-connectdevelop" aria-hidden="true"></i>Broad Band</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.GAS == current_tab}" @click="changeTab(TABS.GAS)" aria-controls="hor_1_tab_item-6" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-flask" aria-hidden="true"></i>Gas</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.WATER == current_tab}" @click="changeTab(TABS.WATER)" aria-controls="hor_1_tab_item-7" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-tint" aria-hidden="true"></i>Water</li>
            <li class="resp-tab-item hor_1" :class="{'resp-tab-active': TABS.BUS == current_tab}" @click="changeTab(TABS.BUS)" aria-controls="hor_1_tab_item-8" role="tab" style="background-color: rgb(245, 245, 245);"><i class="icon fa fa-subway" aria-hidden="true"></i>Bus  Tickets</li>
        </ul>
    </div>
    <div class="resp-tabs-container hor_1" style="border-color: rgb(193, 193, 193);">
        <component :is="current_tab"></component>
    </div>
</div>
</template>

<script>
import {SERICES_TABS} from '../../consts/service'
import Mobile from './mobile'
import Gas from './gas'
import Electricity from './elictric'
import Land from './landline'
import Water from './water'
import DTH from './dth'
import Data from './datacard'
import BusTicket from './busticket'
import broad from './broad'

var components = {}

components[SERICES_TABS.MOBILE] = Mobile
components[SERICES_TABS.GAS] = Gas
components[SERICES_TABS.ELECTRICITY] = Electricity
components[SERICES_TABS.LAND_LINE] = Land
components[SERICES_TABS.WATER] = Water
components[SERICES_TABS.DTH] = DTH
components[SERICES_TABS.BUS] = BusTicket
components[SERICES_TABS.BOARD] = broad
components[SERICES_TABS.DATA_CARD] = Data

export default {
    components: components,

    data() {
        return {
            current_tab: SERICES_TABS.MOBILE
        }
    },

    computed: {
        TABS: () => SERICES_TABS
    },

    methods: {
        changeTab(name) {
            this.current_tab = name
        }
    }
}
</script>

<style>

</style>
