<div class="m-login__signup" style="display: block;">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Sign Up
        </h3>
        <div class="m-login__desc">
            Enter your details to create your account:
        </div>
    </div>
    <form class="m-login__form m-form">

        <div class="form-group m-form__group">
            <input type="text" class="form-control m-input" placeholder="Fullname" ng-model="registration_form.fullname">
        </div>
        <div class="form-group m-form__group">
            <input type="email" class="form-control m-input" placeholder="Email Address" ng-model="registration_form.email">
        </div>
        <div class="form-group m-form__group">
            <input type="password" class="form-control m-input"  placeholder="Password" ng-model="registration_form.password">
        </div>
        <div class="form-group m-form__group">
            <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" ng-model="registration_form.password_confirmation">
        </div>
        <div class="row form-group m-form__group m-login__form-sub">
            <div class="col m--align-left">
                <label class="m-checkbox m-checkbox--focus">
                    <input type="checkbox" name="agree" ng-model="registration_form.terms">
                    I Agree the
                    <a href="#" class="m-link m-link--focus">
                        terms and conditions
                    </a>
                    .
                    <span></span>
                </label>
                <span class="m-form__help"></span>
            </div>
        </div>
        <div class="m-login__form-action">
            <button ng-click="register()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                Sign Up
            </button>
            <button id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">
                Cancel
            </button>
        </div>
    </form>
</div>

